
<!-- form handling -->



  <form action="/api/users" method="POST" id="add_user">
   
    
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" id="name" placeholder="Your name" required>
        </div>
        <div class="form-group">
            <label for="email" class="text-light">Email</label>
            <input type="email" id="email" name="email" value="" placeholder="Your email" required>
        </div>
        <div class="form-group">
            <label for="age" class="text-light">Age</label>
            <input type="number" id="age" name="age" value="" required>
        </div>
        <div class="form-group">
            <label for="gender" class="text-light">Gender</label>
            <div class="radio inline">
                <input type="radio" name="gender" value="male" checked>
                <label for="gender" class="text-light">Male</label>
            </div>
            <div class="radio inline">
                <input type="radio" name="gender" value="female">
                <label for="gender" class="text-light">Female</label>
            </div>
        </div>
        <div class="form-group">
            <label for="status" class="text-light">Status</label>
            <div class="radio inline">
                <input type="radio" name="status" value="active" checked>
                <label for="status" class="text-light">Active</label>
            </div>
            <div class="inline radio">
                <input type="radio" name="status" value="inactive">
                <label for="status" class="text-light">Inactive</label>
            </div>
        </div>
        
        <div class="form-group">
            <button type="submit" class=" btn text-dark update">Save User</button>
        </div>
       
    </div>
</form>
<!-- /form handling -->